<mat-toolbar class="nav">
  <!-- <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button> -->
  <span routerLink="">
    <img [src]="logoPath">
    UniClass
  </span>
  <span class="example-spacer"></span>
  <!-- <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>Login</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
  <div class="btns">
    <button routerLink="signin" mat-button>Login</button>
    <button routerLink="signup" mat-button>Register</button>
  </div>
</mat-toolbar>
