.landing{
    height: calc(100vh - 64px);
    background-color: #EEE;
    padding: 0 80px 0 80px;
    overflow: hidden;
    .r-p{
        float: left;
        margin-top: 70px;
        h3{
            margin: 0;
            font-size: 80px;
            font-weight: 800;
            color: #222;
            line-height: 1.2;
            text-transform: capitalize;
        }
        button{
            font-weight: 700;
            font-size: 17px;
            background-color: #1062e7;
            color: #FFF;
            margin: 0;
            padding: 25px 45px;
            text-transform: capitalize;
            margin-top: 20px;
            border-radius: 30px;
        }
        p{
            margin: 0;
            font-size: 17px;
            color: #5a5959;
            font-weight: 400;
        }
    }
    .l-p{
        position: relative;
        float: right;
        height: 100%;
        img{
            width: 460px;
            position: relative;
            bottom: -54px;
        }
    }
}