<div class="home-content">
    <div class="main_section">
        <!-- <h1>Teaching</h1> -->
        <h1>My Classes</h1>
        <div class="cards">
            <div class="card" *ngFor="let classItem of classes">
                <div class="title" style="background-image: url({{classItem.cover}});">
                    <div class="infos">
                        <p>{{classItem.name}}</p>
                        <span>{{classItem.description}}</span>
                    </div>
                    <img src={{classItem.user_photo}} />
                </div>
                <div class="details">
                    <div class="code">Code: {{classItem.code}}</div>
                    <div class="actions">
                        <button mat-raised-button (click)="goToDetails(classItem.id)">Move</button>
                        <button mat-raised-button (click)="removeClass(classItem.id)">Delete</button>
                    </div>
                </div>
            </div>
            <p class="nothing" *ngIf="classes.length == 0">No classes available yet</p>
        </div>
    </div>
    <div class="main_section">
        <h1>Enrolled</h1>
        <div class="cards">
            <div class="card" *ngFor="let classItem of userClasses">
                <div class="title" style="background-image: url({{classItem?.data?.cover}});">
                    <div class="infos">
                        <p>{{classItem?.data?.name}}</p>
                        <span>{{classItem?.data?.description}}</span>
                    </div>
                    <img src={{classItem?.data?.user_photo}} />
                </div>
                <div class="actions">
                    <button mat-raised-button (click)="goToDetails(classItem?.id)">Move</button>
                    <button mat-raised-button (click)="Unroll(classItem?.id)">Unroll</button>
                </div>
            </div>
            <p class="nothing" *ngIf="userClasses.length == 0">No classes available yet</p>
        </div>
    </div>
</div>