<div class="join_class">
    <mat-card class="c_c">
        <h2>Join Class</h2>
        <form>
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Class code</mat-label>
                <input matInput type="text"  name="name" />
            </mat-form-field>
            <button mat-raised-button style="color: #FFF;" color="primary" class="full-width">Join</button>
            <!-- <p *ngIf="errorMessage" style="color: #F00;">{{ errorMessage }}</p> -->
        </form>
    </mat-card>
</div>
